main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 3rem;
    color: #333;
    font-weight: bold;
  }

  p {
    font-size: 1.25rem;
    color: #666;
    text-align: center;
  }
}

.btn-container {
  display: flex;
  gap: 1rem;
}