main {
  height: 100vh;
  margin: auto;
}

.main-container {
  display: grid;
  grid-template-areas:
    "search search"
    "phone ai";
  gap: 1rem;
  height: 100%;
}

.search-container {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phone-mock {
  grid-area: phone;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ai-container {
  grid-area: ai;
  display: flex;
  flex-direction: column;
  align-items: center;
}