name: Auto Approve PR

on:
  workflow_run:
    workflows: ["Deploy Angular App"]
    types:
      - completed

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Approve Pull Request
        uses: hmarr/auto-approve-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}