# Continuous Integration Workflow
name: Deploy Angular App

on:
  pull_request:
    branches:
      - main
  push:
    branches: 
      - main
    
jobs:
  build: 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/songify
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: '20.x' 
      - name: Install Dependencies
        run: npm ci
      - name: Build Angular App
        run: npm run --build --prod
      - name: Run Tests
        run: npm test -- --watch=false --browsers=ChromeHeadless